<h2>Register a new user</h2>
<form action="/user" method="POST">
    <input type="text" name="username" placeholder="Enter your username">
    <input type="text" name="email" placeholder="Enter your email">
    <input type="password" name="password" placeholder="Enter your password">
    <button type="submit">Create</button>
</form>